.footer {
  font-family: "Inter", arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__trademark {
  margin: 0;
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }

  .footer__trademark {
    width: 282px;
    font-size: 14px;
  }
}
